<section class="wrapper style1 align-center">
    <div class="inner">

        <h2 class="center">Before we start</h2>
        <p class="center">
            The data is primarily collected from the spotify and genius apis.
            It takes its fundament in a ranked list of songs which have spend the most time of the U.S. weekly charts in the period 2013-2023.
            By taking the set of artists who made these songs, we can find the <strong>top charts artists'</strong> features, genre and lyrics.
        </p>
    </div>
    <div class="content">
        <span class="image fit"><img src="images/DATA.png" alt="" /></span>

        <h3>Who loves a feauture?</h3>

        <section class="spotlight style1 orient-right content-align-left" id="first">
            <div class="content">
                <p>The artists with the most features are all male. The features count collaborations going both ways, hence both being feature on songs and having features.
                    An artist who likes including other artists and being included in their songs and is <strong>Future</strong>, with <strong>603</strong> collaborations with the top charts artists. 
                    It seems that all the artists are within the same genres, which is <strong>hip hop</strong> and <strong>rap</strong>.

                    GØR BILLEDE VÆSENLIGT MINDRE - DET SKAL BARE VÆRE ET MINDRE AFSNIT
                </p>
            </div>
            <span class="image">
                <img src="images/collaborators.png" width="300" height="100" alt="" />
            </span>
        </section>
        
    </div>
        </section>
    

</section>
