<section class="wrapper style1 align-center">
    <div class="inner">

        <h2 class="center" id="first">Before we start</h2>
        <p class="center">
            The data is primarily collected from the spotify and genius apis.
            It takes its fundament in a ranked list of songs which have spend the most time on the U.S. weekly charts in the period 2013-2023.
            By taking the set of artists who made these songs, we can find the <strong>artists of the top charts</strong>. For this group of artists who have rocked the charts at least once, their features, genres and lyrics are collected. 

            <br>
            <br>
            More can be seen below. 
        </p>
    </div>
    <div class="content">
        <span class="image fit"><img src="images/DATA.png" alt="" /></span>


        <section class="spotlight style1 orient-right content-align-left" id="second">
            <div class="content">
                <h3>Who loves a feature?</h3>
                <p>The artists with the most features are all male. The features count collaborations going both ways, hence both being feature on songs and having features.
                    An artist who likes including other artists and being included in their songs and is <strong>Future</strong>, with impressive <strong>603</strong> collaborations with the top charts artists. 
                    It seems that all the artists are within the same genres, which is <strong>hip hop</strong> and <strong>rap</strong>. 
                    Maybe it is because these genres are more open to collaborations than other genres, or maybe it is because the top charts artists are more productive.
                    Relevant questions are: 
                    <ul>
                        <li>Are collaborations happening across genres?</li>
                        <li>What characterizes a certain genre with regards to collaborations and use of lyrics?</li>
                      </ul>  
                    <br>

                    Let's look further into this!

                    <br>

                    GØR BILLEDE VÆSENLIGT MINDRE - DET SKAL BARE VÆRE ET MINDRE AFSNIT
                </p>
            </div>
            <span class="image">
                <img src="images/collaborators.png" width="100" height="100" alt="" />
            </span>
        </section>
        
    </div>
        </section>
    

</section>
